<html lang="{{language}}">
  <head>
    <title>{{title}}</title>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Template by Colorlib" />
  <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
  <meta name="author" content="Colorlib" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="shortcut icon" href="images/favicon.png" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet"   href='/stylesheets/clear.css' />
  <link rel="stylesheet"   href='/stylesheets/common.css' />
  <link rel="stylesheet"   href='/stylesheets/font-awesome.min.css' />
  <link rel="stylesheet"   href='/stylesheets/carouFredSel.css' />
  <link rel="stylesheet"   href='/stylesheets/prettyPhoto.css' />
  <link rel="stylesheet"   href='/stylesheets/sm-clean.css' />
  <link rel="stylesheet"   href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
